<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Cambiar Contraseña</title>

    <link rel="stylesheet" href="css/changePassword.css" />

    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="phone-container">
      <a href="profile.html" class="back-btn">
        <span>&larr;</span>
      </a>

      <div class="top-circle">
        <div class="top-radar">
          <img src="img/user.png" alt="Perfil" />
        </div>
      </div>

      <div class="menu-info">
        <input type="password" class="glass" placeholder="Current Password" />
        <input type="password" class="glass" placeholder="New Password" />
        <input
          type="password"
          class="glass"
          placeholder="Confirm New Password"
        />

        <a href="profile.html" class="glass-btn change-btn">
          <span>
            <span class="orange">Change</span>
            <span class="white"> Password</span>
          </span>
        </a>
      </div>

      <div class="group">
        <img src="img/Group.png" alt="Logo" />
      </div>

      <div class="menu">
        <a href="dashboard.html" class="glass-btn2 active-btn">
          <span class="center">
            <span class="orange">Dash</span><span class="white">board</span>
          </span>
        </a>

        <a href="profile.html" class="glass-btn3">
          <span>
            <span class="orange">My</span><span class="white">Profile</span>
          </span>
        </a>

        <a href="leviatanes.html" class="glass-btn4">
          <span>
            <span class="orange">Lev</span><span class="white">iatan</span>
          </span>
        </a>

        <a href="ubicaciones.html" class="glass-btn5">
          <span>
            <span class="orange">Ubi</span><span class="white">cacion</span>
          </span>
        </a>
      </div>

      <div class="bubbles">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </body>
</html>
