<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Subnautica UI</title>

    <link rel="stylesheet" href="css/dashboard.css" />

    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="phone-container">
      <!-- Radar -->
      <div class="top-circle">
        <div class="top-radar">
          <img src="img/Leviatan.png" alt="Leviatán" />
        </div>
      </div>

      <!-- Botón -->
      <div class="menu1">
        <a href="profile.html" class="glass-btn">
          <span>
            <span class="orange">My</span>
            <span class="white"> Profile</span>
          </span>
        </a>
        <a href="leviatanes.html" class="glass-btn">
          <span>
            <span class="orange">Levia</span><span class="white">tanes</span>
          </span>
        </a>
        <a href="ubicaciones.html" class="glass-btn">
          <span>
            <span class="orange">Ubic</span><span class="white">aciones</span>
          </span>
        </a>
        <a href="index.html" class="glass-btn">
          <span>
            <span class="orange">Log</span><span class="white">out</span>
          </span>
        </a>
      </div>

      <!-- Logo inferior -->
      <div class="group">
        <img src="img/Group.png" alt="Logo" />
      </div>

      <div class="menu">
        <a href="dashboard.html" class="glass-btn2 active-btn">
          <span class="center">
            <span class="orange">Dash</span><span class="white">board</span>
          </span>
        </a>

        <a href="profile.html" class="glass-btn3">
          <span>
            <span class="orange">My</span><span class="white">Profile</span>
          </span>
        </a>

        <a href="leviatanes.html" class="glass-btn4">
          <span>
            <span class="orange">Lev</span><span class="white">iatan</span>
          </span>
        </a>

        <a href="ubicaciones.html" class="glass-btn5">
          <span>
            <span class="orange">Ubi</span><span class="white">cacion</span>
          </span>
        </a>
      </div>

      <!-- Burbujas -->
      <div class="bubbles">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </body>
</html>
