<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Eliminar Leviatán</title>

    <link rel="stylesheet" href="css/leviatanes.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="phone-container dark">
      <a href="ubicaciones.html" class="back-btn">
        <span>&larr;</span>
      </a>

      <div class="top-circle">
        <div class="top-radar">
          <img src="img/map-pin.png" alt="Leviatán" />
        </div>
      </div>

      <div class="confirm-panel">
        <h3>Eliminar Ubicacion</h3>
        <p>Seguro que quiere eliminar la ubicacion? No se podrá recuperar.</p>
        <a href="ubicaciones.html" class="danger-btn">Eliminar</a>
      </div>



      <div class="bubbles">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </body>
</html>
