<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Subnautica UI</title>

    <link rel="stylesheet" href="css/style.css" />

    <!-- ROBOTO SLAB -->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="phone-container">
      <div class="menu">
        <!-- HOME -->
        <a href="home.html" class="glass-btn">
          <span>
            <span class="orange">Ho</span><span class="white">me</span>
          </span>
        </a>
      </div>
      <div class="bubbles">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </body>
</html>
