<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Subnautica UI</title>

    <link rel="stylesheet" href="css/profile.css" />

    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="phone-container">
      <!-- Radar -->
      <div class="top-circle">
        <div class="top-radar">
          <img src="img/user.png" alt="" />
        </div>
      </div>

      <div class="menu-info">
        <input type="email" class="glass" placeholder="Email" />
        <input type="text" class="glass" placeholder="Documento" />
        <input type="text" class="glass" placeholder="Nombre" />
        <input type="text" class="glass" placeholder="Apellido" />
        <input type="password" class="glass" placeholder="Password" />

        <div class="actions">
          <a href="update.html" class="glass0">
            <span>
              <span class="orange">Up</span><span class="white">date</span>
            </span>
          </a>

          <a href="login.html" class="glass0">
            <span>
              <span class="orange">Change</span
              ><span class="white"> Password</span>
            </span>
          </a>
        </div>
      </div>

      <!-- Logo inferior -->
      <div class="group">
        <img src="img/Group.png" alt="Logo" />
      </div>

      <<div class="menu">
        <a href="dashboard.html" class="glass-btn2 active-btn">
          <span class="center">
            <span class="orange">Dash</span><span class="white">board</span>
          </span>
        </a>

        <a href="profile.html" class="glass-btn3">
          <span>
            <span class="orange">My</span><span class="white">Profile</span>
          </span>
        </a>

        <a href="leviatanes.html" class="glass-btn4">
          <span>
            <span class="orange">Lev</span><span class="white">iatan</span>
          </span>
        </a>

        <a href="ubicaciones.html" class="glass-btn5">
          <span>
            <span class="orange">Ubi</span><span class="white">cacion</span>
          </span>
        </a>
      </div>

      <!-- Burbujas -->
      <div class="bubbles">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </body>
</html>
