<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Home UI</title>

    <link rel="stylesheet" href="css/register.css" />

    <!-- ROBOTO SLAB -->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="phone-container">

      <div class="top-circle">
        <div class="top-radar">
          <img src="img/user.png" alt="" />
        </div>
      </div>

      <!-- Info user -->

        <div class="menu-info">
            <!-- HOME -->
            <input type="email" class="glass" placeholder="Email" />
            <!-- LOGIN -->
            <input type="text" class="glass" placeholder="Documento" />

            <input type="text" class="glass" placeholder="Nombre" />

            <input type="text" class="glass" placeholder="Apellido" />

            <input type="password" class="glass" placeholder="Password" />

            <!-- REGISTER -->
            <a href="login.html" class="glass">
            <span class="center">
                <span class="orange">Re</span><span class="white">gister</span>
            </span>
            </a>
        </div>

      <!-- LOGIN -->

      <div class="group">
        <img src="img/Group.png" alt="" />
      </div>

      <div class="menu">
        <!-- LOGIN -->
        <a href="login.html" class="glass-btn">
          <span class="center">
            <span class="orange">Lo</span><span class="white">gin</span>
          </span>
        </a>

        <!-- REGISTER -->
        <a href="register.html" class="glass-btn1 active-btn">
          <span>
            <span class="orange">Reg</span><span class="white">ister</span>
          </span>
        </a>
      </div>
    </div>
  </body>
</html>
